<!-- <div>
  <p>{{ currentDate | date:'shortDate' }}</p>
  <p>{{ currentDate | date:'fullDate' }}</p>
  <p>{{ currentDate | date:'MM/dd/yyyy' }}</p>
  <p>{{ currentDate | date:'shortTime' }}</p>
  <p>{{ currentDate | date:'d' }}</p>
  <p>{{ currentDate | date:'w' }}</p>
</div> -->

<div>
  <h4>Currency with valid expected outputs but marked as incorrect:</h4>
  <p>{{ price | currency:'':true }}</p>
  <p>{{ price | currency:'USD ':false }}</p>
  <p>{{ price | currency:'INR' }}</p>
  <p>{{ price | currency:'GBP' }}</p>
</div>
<!-- 
<div>
  <p>{{ arrayStream$ | async }}</p>
  <p>{{ transformedData$ | async }}</p>
</div>

<div>
  <p>{{ nestedArrays | json }}</p>
  <p>{{ complexData | json }}</p>
  <p>{{ mixedTypes | json }}</p>
</div>

<div>
  <p>{{ numbers | slice:3:6 }}</p>
  <p>{{ numbers | slice:-3 }}</p>
  <p>{{ longString | slice:-2 }}</p>
  <p>{{ longString | slice:0:5 }}</p>
</div> -->