<h1 class="pt-8 text-2xl text-center font-bold">Lab Act 4</h1>
<p class="text-center mb-6">By Jimwel L. Valdez</p>

<div class="mx-auto my-4 w-75 px-6 max-w-screen-lg">
  <h2 class="text-xl text-center pb-4">EMPLOYEES LIST</h2>
  <table class="min-w-full table-auto border-2 border-purple-900 shadow-lg rounded-lg">
  <tr class="border-b-2 border-purple-900 text-left">
    <th>ID</th>
    <th>FIRST NAME</th>
    <th>LAST NAME</th>
    <th>EMAIL</th>
  </tr>

  <tr *ngFor="let employee of employees">
    <td>{{ employee.id }}</td>
    <td>{{ employee.firstname }}</td>
    <td>{{ employee.lastname }}</td>
    <td>{{ employee.email }}</td>
  </tr>
</table>
</div>

<div class="m-auto my-4 w-75 px-6 max-w-screen-lg">
  <h2 class="text-xl text-center pb-4">PRODUCTS LIST</h2>
  <table class="min-w-full table-auto border-collapse border-2 border-purple-900 shadow-lg">
    <tr class="border-b-2 border-purple-900 text-left">
      <th>PRODUCTS ID</th>
      <th>PRODUCT NAME</th>
      <th>DESCRIPTION</th>
      <th>PRICE</th>
    </tr>

    <tr *ngFor="let product of products">
      <td>{{ product.productid }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.price }}</td>
    </tr>
  </table>
</div>

<router-outlet></router-outlet>