<!-- Jimwel Valdez | WD-302 -->

<div class="container-sm">
  <h2 class="text-info-emphasis mt-4">Sample To-do List with Search</h2>
  <p class="mb-4">By Jimwel Valdez | WD-302</p>

  <input
    name="search"
    class="form-control border-2 border-info mb-4"
    [(ngModel)]="searchString"
    placeholder="Start searching for a to-do..."
  />

  <table class="table table-bordered border-info-subtle">
    <thead class="bg-dark text-white">
      <tr>
        <th class="text-info-emphasis">ID / Number</th>
        <th class="text-info-emphasis">To-do Description</th>
        <th class="text-info-emphasis">STATUS</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let todo of httptodos | slice:0:10 | filter : searchString">
        <td>{{ todo.id }}</td>
        <td>{{ todo.title }}</td>
        <td *ngIf="todo.completed">DONE</td>
        <td *ngIf="!todo.completed">Not yet done</td>
      </tr>
    </tbody>
  </table>
</div>
